# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node / general logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Python (if you ever add scripts)
__pycache__/
*.py[cod]
*.env
.venv/
venv/

# Editors / IDEs
.vscode/
.idea/
*.swp

# Archives / misc
*.zip
*.tar
*.tar.gz
